# Logs
logs
*.log
npm-debug.log*


# node-waf configuration
.lock-wscript

# Dependency directories
node_modules

# System files
.DS_Store

# Build Directory
dist

# All Files
.flowconfig
.editorconfig
.eslintrc
package.json
src
config
scripts
declarations
