// General
$transparent-background: rgba(0, 0, 0, 0);
$chicago-gray: rgba(92, 92, 92, 0.85);
$media-mobile: 950px;
$media-large: 1400px;

// Widgets
$checkbox-active-background: #BE1E2D;

// Light theme
$light-checkbox-background: #CCC;

// Dark theme
$dark-checkbox-background: #5C5C5C;
